Data Visualization - Assignment 1 -- Sanjay Roberts

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Assignment 1, Part 1: Construct a CSV with the first eight elements of the periodic table of elements. Include columns containing name, symbol, and atomic number. Read that into a pandas DataFrame. Inside the program add a nineth and tenth element then add a column with the atomic weights rounded to the nearest integer.

In [10]:
elements_df = pd.read_csv('elements.csv')

In [11]:
elements_df.head(10)

        Name Symbol  Atomic_Number
0   Hydrogen      H         1.0080
1     Helium     He         4.0026
2    Lithium     Li         6.9400
3  Beryllium    Be          9.0122
4      Boron      B        10.8100
5     Carbon      C        12.0110
6   Nitrogen      N        14.0070
7     Oxygen      O        15.9990

In [12]:
new_elements = [pd.Series(['Fluorine', 'F', 18.998], index=elements_df.columns), pd.Series(['Neon', 'Ne', 20.180], index=elements_df.columns)]

In [13]:
new_elements_df = elements_df.append(new_elements, ignore_index=True)

In [14]:
new_elements_df.head(10)

        Name Symbol  Atomic_Number
0   Hydrogen      H         1.0080
1     Helium     He         4.0026
2    Lithium     Li         6.9400
3  Beryllium    Be          9.0122
4      Boron      B        10.8100
5     Carbon      C        12.0110
6   Nitrogen      N        14.0070
7     Oxygen      O        15.9990
8   Fluorine      F        18.9980
9       Neon     Ne        20.1800

In [18]:
new_elements_df['Rounded'] = new_elements_df.Atomic_Number.round()

In [20]:
new_elements_df.head(10)

        Name Symbol  Atomic_Number  Rounded
0   Hydrogen      H         1.0080      1.0
1     Helium     He         4.0026      4.0
2    Lithium     Li         6.9400      7.0
3  Beryllium    Be          9.0122      9.0
4      Boron      B        10.8100     11.0
5     Carbon      C        12.0110     12.0
6   Nitrogen      N        14.0070     14.0
7     Oxygen      O        15.9990     16.0
8   Fluorine      F        18.9980     19.0
9       Neon     Ne        20.1800     20.0

Assignment 1, Part 2: Make a list of strings for nine Greek letters, ‘alpha’, for example. 

Make that list such that they are not in alphabetic order. 

Make two 9-element numpy arrays of random floating-point numbers with the estimated mean 10 and standard deviation 1.5. 

Make another array of nine elements ranging from zero to two times pi. 

Name it ‘angle’. 

Make another array holding the cosine of that ‘angle’ array. 

Construct a dictionary from all of the above. 

Form a DataFrame from that dictionary and print it out. 

Sort the DataFrame ascending on the Greek letters, drop two columns of your choice, drop one of the rows, and print that out.

In [71]:
greek_letters = ['mu', 'kappa', 'chi', 'epsilon', 'beta', 'alpha', 'omega', 'pi', 'nu']

In [94]:
a = np.random.normal(10,1.5, 9)
b = np.random.normal(10,1.5, 9)
angle = np.linspace(0, 2*np.pi, 9)
cos_angle = np.array(np.cos(angle))

In [98]:
d = {'Greek_letters':greek_letters, 'np_array_1':a, 'np_array_2':b, 'angle':angle, 'cosine_angle':cos_angle}

In [100]:
df = pd.DataFrame.from_dict(d)

In [104]:
df.head(10)

  Greek_letters  np_array_1  np_array_2     angle  cosine_angle
0            mu   12.758075    9.453044  0.000000  1.000000e+00
1         kappa   12.395074    9.469500  0.785398  7.071068e-01
2           chi    7.632178    7.960897  1.570796  6.123234e-17
3       epsilon   11.302954    9.689459  2.356194 -7.071068e-01
4          beta   10.088280    7.513342  3.141593 -1.000000e+00
5         alpha   10.211139    9.318986  3.926991 -7.071068e-01
6         omega   10.756642    7.215669  4.712389 -1.836970e-16
7            pi   12.336352    9.924183  5.497787  7.071068e-01
8            nu    6.611473   10.606579  6.283185  1.000000e+00

In [106]:
sorted_df = df.sort_values(by=['Greek_letters'])
sorted_df

  Greek_letters  np_array_1  np_array_2     angle  cosine_angle
5         alpha   10.211139    9.318986  3.926991 -7.071068e-01
4          beta   10.088280    7.513342  3.141593 -1.000000e+00
2           chi    7.632178    7.960897  1.570796  6.123234e-17
3       epsilon   11.302954    9.689459  2.356194 -7.071068e-01
1         kappa   12.395074    9.469500  0.785398  7.071068e-01
0            mu   12.758075    9.453044  0.000000  1.000000e+00
8            nu    6.611473   10.606579  6.283185  1.000000e+00
6         omega   10.756642    7.215669  4.712389 -1.836970e-16
7            pi   12.336352    9.924183  5.497787  7.071068e-01

In [108]:
dropped_cols_df = sorted_df.drop(['angle', 'np_array_1'], axis=1)

In [109]:
dropped_cols_df.head(10)

  Greek_letters  np_array_2  cosine_angle
5         alpha    9.318986 -7.071068e-01
4          beta    7.513342 -1.000000e+00
2           chi    7.960897  6.123234e-17
3       epsilon    9.689459 -7.071068e-01
1         kappa    9.469500  7.071068e-01
0            mu    9.453044  1.000000e+00
8            nu   10.606579  1.000000e+00
6         omega    7.215669 -1.836970e-16
7            pi    9.924183  7.071068e-01

In [110]:
drop_row_df = dropped_cols_df.drop(3)

In [111]:
drop_row_df.head(10)

  Greek_letters  np_array_2  cosine_angle
5         alpha    9.318986 -7.071068e-01
4          beta    7.513342 -1.000000e+00
2           chi    7.960897  6.123234e-17
1         kappa    9.469500  7.071068e-01
0            mu    9.453044  1.000000e+00
8            nu   10.606579  1.000000e+00
6         omega    7.215669 -1.836970e-16
7            pi    9.924183  7.071068e-01

Assignment 1, Part 3: Write a program in Python to create and print out the first twelve Fibonacci numbers. Then iterate over the last five numbers to build another list with the ratio of each number to its predecessor. What do you observe about this latter list?

In [52]:
def F(num): 
    if num == 1: 
        return 0 
    elif num == 2: 
        return 1
    else: 
        return F(num-1)+F(num-2)

In [54]:
fib_list = []
for i in range(1,13):
    print(F(i))
    fib_list.append(F(i))

0
1
1
2
3
5
8
13
21
34
55
89

In [113]:
last_5 = fib_list[-6:]
last_4 = fib_list[-5:]

In [114]:
ratio_list = []
[i/j for i,j in zip(last_4, last_5)]

[1.625,
 1.6153846153846154,
 1.619047619047619,
 1.6176470588235294,
 1.6181818181818182]

It approaches the golden ratio (1.61803)

Assignment 1, Part 4: Provide a function that converts temperature in Kelvin to Rankine. Make a list of five Kelvin temperatures and print out their values in Rankine. Repeat using a lambda function.

In [21]:
def K_to_R(K_temp):
    return K_temp * (9/5)

In [41]:
kelvin_temps = [0,2,23,65,785]

In [42]:
for i in kelvin_temps:
    print(K_to_R(i))

0.0
3.6
41.4
117.0
1413.0

In [51]:
lambda_func = lambda x: x * (9/5)
print(list(map(lambda_func, kelvin_temps)))

[0.0, 3.6, 41.4, 117.0, 1413.0]